<h1> <%=t('edit_mining.title')%> </h1>

<%= render 'form', mining_type: @mining_type %>

<%= link_to t('edit_mining.show'), @mining_type, class:"btn btn-primary btn-sm" %> |
<%= link_to t('edit_mining.back'), mining_types_path, class:"btn btn-primary btn-sm" %>
