<h1><%=t('edit_coins.title')%></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('edit_coins.show'), @coin, class:"btn btn-primary btn-sm" %> |
<%= link_to t('edit_coins.back'), coins_path, class:"btn btn-primary btn-sm" %>
